@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: Digital;
  src: url(../fonts/digital-7.ttf);
}

html {
  height: 100%;
}

body {
  font-family: Anton;
  color: #abb2bf;
  background: #2a2e36;
}

.btn {
  display: block;
  background-color: #21252c;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#21252c),
    to(#464c56)
  );
  background-image: -webkit-linear-gradient(top, #21252c, #464c56);
  background-image: -moz-linear-gradient(top, #21252c, #464c56);
  background-image: -ms-linear-gradient(top, #21252c, #464c56);
  background-image: -o-linear-gradient(top, #21252c, #464c56);
  color: #464c56;
  margin: 36px;
  width: 75px;
  height: 75px;
  position: relative;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #181a1e, inset 0px 2px 3px #464c56;
  border: none;
  outline: none;
}
.btn.small {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  margin: 10px;
}

.content-row,
.names-row,
.timer-row,
.result-row {
  display: flex;
}
.names-row {
  /* border-bottom: 1px solid #21252c; */
  border-bottom: 2px solid #181a1e;
}
.content-row {
  border-top: 1px solid #464c56;
}
.timer-row {
  border-top: 1px solid #464c56;
  height: 250px;
}
.name {
  width: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: grey;
}
.timer-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  /*color: #f6b93b;*/
  color: rgb(246, 185, 59);
  color: linear-gradient(
    15deg,
    rgba(171, 131, 49, 1) 0%,
    rgba(246, 185, 59, 1) 63%,
    rgba(246, 185, 59, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Digital;
  font-size: 8rem;
  background: #21252c;
  border-top: 2px solid #181a1e;
  border-left: 2px solid #181a1e;
  border-bottom: 2px solid #464c56;
  border-right: 2px solid #464c56;
}
.score {
  width: 35%;
  display: flex;
  justify-content: center;
  font-family: Digital;
  font-size: 6rem;
  color: rgb(246, 185, 59);
}
.faults {
  width: 30%;
  display: flex;
  justify-content: center;
}

.team-column,
.timer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-column {
  width: 30%;
}

.team-column {
  border-right: 2px solid #181a1e;
}

.team-column:last-of-type {
  border-left: 2px solid #464c56;
  border-right: 0px;
}

.timer-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 2px solid #464c56;
  border-right: 2px solid #181a1e;
}

.control-score,
.control-faults,
.control-timer {
  font-family: Digital;
  font-size: 6rem;
  display: flex;
}
.control-faults-container,
.control-score-container {
  display: flex;
}
.control-score-btns {
}
