.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

/**** COUNTER ******/
.counter h1 {
  margin: 0;
  padding: 0;
  font-size: 8rem;
}
.counter .buttons {
  justify-content: space-evenly;
}
/* .counter button {
  font-size: 1.5rem;
} */
.counter.small h1 {
  font-size: 4rem;
}
/* .counter.small button {
  font-size: 0.75rem;
} */
